<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Test for API</h1>
	<h2>status: {{ data.status }} </h2>

	<h3>Upload slide file</h3>
    <form action="/upload_slide" method="POST" enctype="multipart/form-data">
      <p>
        <input type="file" name="file" multiple="" />
        <input type="submit" value="upload" />
      </p>
    </form>
	<h3>Upload animation file</h3>
    <form action="/upload_anim" method="POST" enctype="multipart/form-data">
      <p>
        <input type="file" name="file" multiple="" />
        <input type="submit" value="upload" />
      </p>
    </form>

</body>
</html>