<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>List Slide Decks</title>
</head>
<body>
	
	<h1>Select file for input</h1>
	
	{% for record in data %}
	<p><a href="{{ record.gen_url }}">{{ record.slide_name }}</a> </p>
	{% endfor %}

	
	<h3>slide decks</h3>

    <form action="/upload_slide" method="POST" enctype="multipart/form-data">
      <p>
        <input type="file" name="file" multiple="" />
        <input type="submit" value="upload" />
      </p>
    </form>


</body>
</html>