<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>List animations</title>
</head>
<body>
	
	<h1>Select file for Label Recommendation </h1>
	
	{% for record in data %}
	<p><a href="{{ record.pred_url }}">{{ record.anim_name }}</a> </p>
	{% endfor %}


</body>
</html>